#coming-soon {
    text-align: center;
}

.coming-number {
    font-size: 72px;
    color: #3498db;
    font-weight: 400;
}

.coming-time {
    font-size: 24px;
    color: #34495e;
    font-weight: 500;
}

/*
@media (min-width: 760px){
    #coming-soon {
        margin: auto !important;
        width: 80%;
    }
}

@media (min-width: 1280px){
    #comiong-soon {
        width: 100%;
    }
}
*/

/*@media only screen and (max-width: 768px) {
    #coming-soon {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }
}*/