#RecentAdventures {
    text-align: center;
    background-image: url(../images/gallery-bg.jpg);
    color: #fff;
}

h1 {
    color: #fff;
}

.img-gallery {
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap
}

.card {
    padding: 10px;
}

.card-body {
    font-size: 16px;
    padding: 5px 0;
    text-align: center;
}

#main-content {
    flex-wrap: wrap;
}

#main-content > div {
    margin: 20px 0;
}

#main-content .card {
    border: 2px solid #ecf0f1 !important;
}