/*form {
    margin: 50px auto;
    padding: 50px;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 500px;
    height: 100%;
    background-color: #ecf0f1;
}

form h3 {
    text-align: center;
    padding: 20px 0 50px;
}

span {
    
}

form input {
    margin: 5px auto 30px;
    padding: 10px;
    border: 1.5px solid transparent;
    border-radius: 10px;
    width: 100%;
}

form button {
    padding: 10px;
    width: 100px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
}

form i {
    margin-left: 5px;
}

form button:hover {
    background-color: #34495e;
}

form div {
    margin: 10px 0;
}

form a {
    color: #3498db;
    margin: 10px;
}

form a:hover {
    color: #2980b9;
}*/