* {
    margin: 0;
    padding: 0;
}


header > div:first-child {
    background-image: url(../images/logo-bg.png);
    background-size: cover;
    background-repeat: repeat;
}

#navbarNav {

    justify-content: center;
}

.nav-item {
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
}

.nav-item:hover {
    border-bottom-color: #2c3e50;
}

a {
    text-decoration: none !important;
    background: transparent;
}

.bg-light {
    background-color: #fff !important;
}
/*end navbar*/